* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  position: relative;
  font-size: 62.5%;
}

body {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-color: $color-gray-dark-2;
  min-height: 100vh;
  color: $font-color;
  @include flex-center;
  padding: 2rem 0;
  position: relative;
  font-size: 1.6rem;
}
