* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  position: relative;
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  background-image: linear-gradient(
    to right bottom,
    $color-gray-dark-3,
    $color-gray-dark-4
  );
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: $color-gray-dark-1;
  position: relative;
  @include flex-center;
  padding: 2rem 0;
  position: relative;
}
