.main {
  min-width: 70vw;
  background-color: $color-gray-light-2;
  box-shadow: $shadow-dark;
  min-height: 80vh;
  border-radius: 3.5rem;
  padding: 2rem 3rem;
  text-align: center;
  position: relative;
}

.logo {
  width: 23rem;
}

.navigation {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  &__list {
    list-style: none;
    display: flex;
  }
  &__item:not(:last-child) {
    margin-right: 1.5rem;
  }
  &__item {
    color: $color-gray-dark-1;
    font-size: 1.8rem;
    transition: all 0.2s;
    cursor: pointer;
  }
  &__item:hover {
    color: $color-secondary-dark;
  }
}

section {
  padding: 1.5rem 0;
}

.user-results__form,
.user-data__form {
  @include flex-center;
  margin-top: 2rem;
}

.user-data__location {
  position: relative;
}

.headings,
.blood-element {
  display: grid;
  grid-template-columns: repeat(4, 1fr) 20px;
  align-items: center;
  justify-items: center;
}

.user-analysis {
  padding-bottom: 0;
}

.blood-element {
  font-size: 1.8rem;
  border-bottom: 1px solid $color-gray-light-1;
  position: relative;
  padding: 1rem;

  &__element-name {
    display: flex;
    justify-content: center;
    position: relative;
    color: $color-secondary-dark;
  }
  &__result {
    @include flex-center;
  }
  &:nth-child(even) {
    background-color: $color-gray-light-2;
    filter: brightness(0.99);
  }
  &__icon {
    margin-left: 0.7rem;
    width: 13px;
  }
}

.react-date-picker {
  border: 1px solid $color-gray-light-1;
  background-color: #fff;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: 1.4rem;
  padding: 0.5rem;
  margin: 0 1rem;
  border-radius: 5px;
  &__wrapper {
    border: none !important;
  }
  &--open {
    border: 1px solid $color-gray-dark-2 !important;
  }
}

.react-calendar__tile--now {
  background: $color-gray-light-1 !important;
  color: inherit;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: $color-gray-dark-4 !important;
  color: #fff;
}

.react-date-picker__button:enabled:hover .react-date-picker__button__icon,
.react-date-picker__button:enabled:focus .react-date-picker__button__icon {
  stroke: $color-secondary-dark !important;
}

input::placeholder {
  color: $color-gray-dark-3;
}

input[type="number"] {
  width: 9rem;
}

input:focus,
select:focus {
  border: 1px solid $color-gray-dark-2;
  outline: none;
}

input,
select {
  border: 1px solid $color-gray-light-1;
  background-color: #fff;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: 1.4rem;
  padding: 1rem 1.2rem;
  margin: 0 1rem;
  border-radius: 5px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  z-index: 9998;
}

.modal {
  grid-template-rows: auto 1fr;
  position: fixed;
  display: grid;
  border-radius: 10px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  min-height: 50vh;
  z-index: 9999;
  &__close {
    padding: 15px 15px 0 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  &__heading {
    text-align: center;
    font-size: 2.3rem;
    font-weight: 300;
  }
  &__content {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
  }
}

.user-tests {
  width: 100%;
  &__item {
    position: relative;
    z-index: 9998;
    display: flex;
    padding: 1.8rem 1rem;
    font-size: 1.8rem;
    border-bottom: 1px solid $color-gray-light-1;
    align-items: center;
    justify-content: space-between;
    &:nth-child(even) {
      background-color: $color-gray-light-2;
      filter: brightness(0.99);
    }
  }
  &__options {
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    padding: 1.8rem 1rem;
    transform: translate(-50%, -50%);
    background-color: $color-gray-light-2;
  }

  &__buttons {
    flex-grow: 1;
    @include flex-center;
    & .options-icon:not(:last-child) {
      margin-right: 2.5rem;
    }
  }
  & .red-label {
    margin-right: 0.6rem;
  }
}

.notests-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dropdown {
  border-radius: 3px;
  position: absolute;
  left: 76%;
  top: 100%;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  background-color: $color-gray-light-2;
  z-index: 9999;
  font-size: 1.5rem;
  &__list {
    list-style: none;
    text-align: left;
  }
  &__item {
    padding: 0.6rem;
    cursor: pointer;
    &:nth-child(1) {
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
    &:nth-child(3) {
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
    }
    &:hover {
      background-color: $color-gray-light-1;
    }
  }
}
