.heading-primary {
  font-size: 2.8rem;
  font-weight: 300;
}

.heading-secondary {
  font-size: 2rem;
  letter-spacing: 1px;
  font-weight: 300;
}

.heading-tertiary {
  font-size: 1.3rem;
  letter-spacing: 1px;
  font-weight: 300;
  font-style: italic;
}

.red-label {
  color: $color-secondary-dark;
  font-size: 1.8rem;
}

.order-number {
  color: $color-secondary-dark;
  font-size: 4rem;
  font-weight: 600;
}

button {
  all: unset;
  cursor: pointer;
}

.btn {
  height: 3.4rem;
  min-width: 6rem;
  padding: 0 1rem;
  border-radius: 5px;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.3rem;
  font-family: inherit;
}

.btn-red {
  background-color: $color-primary-light;
  color: $color-white;
  transition: all 0.2s;
  &:hover {
    background-color: $color-secondary-dark;
  }
  &:disabled {
    background-color: $color-gray-dark-1;
    cursor: not-allowed;
  }
}

.user-pass {
  color: #00910e;
}

.user-fail {
  color: $color-primary-light;
}

.tooltip-icon {
  width: 14px;
  margin-left: 0.4rem;
}

.delete-icon,
.close-icon,
.options-icon,
.clear-icon {
  cursor: pointer;
}

.options-icon,
.loading-spinner {
  width: 20px;
  height: 20px;
}

.loading-spinner {
  transform-origin: center;
  cursor: initial !important;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.close-icon {
  width: 25px;
  height: 25px;
}

.delete-icon,
.tooltip-icon,
.close-icon,
.options-icon,
.clear-icon,
.loading-spinner {
  color: $color-gray-dark-1;
  transition: all 0.2s;
  &:hover {
    color: $color-secondary-dark;
  }
}

.tooltip-box:hover .tooltip {
  opacity: 1;
  transform: scale(1);
}

.tooltip-box {
  position: relative;
}

.clear-btn {
  position: absolute;
  right: 20px;
  top: 10px;
  cursor: pointer;
  background-color: $color-gray-light-2;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.tooltip {
  opacity: 0;
  z-index: 99999;
  color: $color-white;
  width: 19rem;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  text-align: center;
  background-color: rgba(68, 68, 68, 0.95);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transition: all 0.2s ease-in-out;
  transform: scale(0);
  cursor: default;
  position: absolute;
  right: -9.2rem;
  bottom: 3.9rem;
  &:before,
  &:after {
    content: "";
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid rgba(68, 68, 68, 0.95);
    position: absolute;
    bottom: -10px;
    left: 43%;
  }
}
