$color-primary-light: #d10000;
$color-secondary-dark: #8f0000;
$font-color: #111;
$color-white: #fff;
$color-gray-dark-1: #444;
$color-gray-dark-2: #767676;
$color-gray-dark-3: #b1b1b1;
$color-gray-dark-4: #818181;
$color-gray-light-1: #e0e0e0;
$color-gray-light-2: #f7f7f7;
$shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
$shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
$line: 1px solid var(--color-gray-light-1);
